.cardInfo{
  font-size: 11px;
}
cardInfo i {
  margin-right: 5px;
}
.hospitalName {
  margin-right: 7px;
  background: #b88f8f;
  color: #fff;
  padding:2px 5px;
  border-radius: 3px;
}
.date{
  color: #b88f8f;
}